@font-face {
  font-family: "Noto Color Emoji Subset";
  src: url("../NotoColorEmoji.subset.woff2") format("woff2");
}

/* See public/common.css for why this font is listed first. */
body {
  font-family: "Noto Color Emoji Subset", sans-serif;
}

tr:nth-child(odd) > * {
  background-color: lavender;
}

table.long-table th {
  position: sticky;
  top: 0;
  background-color: lavender;
  padding: 0 8px;
}

.prefab-tier {
  font-size: 80%;
  font-weight: lighter;
}
