table {
  border-collapse: collapse;
}
tr {
  border-bottom: 1px lightgray solid;
  &:first-child {
    border-top: 1px lightgray solid;
  }
}

.inner-table {
  & tr:first-child {
    border-top: none;
  }
  & tr:last-child {
    border-bottom: none;
  }
}

.logo {
  font-weight: bold;
  -webkit-text-fill-color: red;
  /*
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  */
  text-shadow: 0px 0px 3px;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
}
