/* Variables */

:root {
  --main-background-color: rgb(209, 209, 209);
  --main-text-color: rgb(70, 50, 50);
  --main-link-color: rgb(70, 70, 100);
  --nav-parent-bg-color: rgb(169, 169, 169);
  --nav-text-color: rgb(70, 50, 50);
  --nav-border-color: rgb(132, 132, 132);
  --nav-a-bg-color: rgb(194, 194, 194);
  --controller-bg-color: rgba(184, 184, 184, 0.9);
  --con-border-color: rgba(123, 123, 123, 0.9);
}

html[data-theme="light"] {
  margin: 0;
  padding: 0;
  --main-background-color: rgb(255, 220, 220);
  --main-text-color: rgb(70, 50, 50);
  --main-link-color: rgb(80, 80, 170);
  --nav-text-color: rgb(70, 50, 50);
  --nav-border-color: black;
  --nav-a-bg-color: rgb(255, 200, 200);
}

html[data-theme="dark"] {
  --main-background-color: rgb(50, 50, 50);
  --main-text-color: rgb(200, 200, 200);
  --main-link-color: rgb(100, 100, 200);
  --nav-text-color: rgb(255, 180, 180);
}

/* COLORS */
body {
  background-color: var(--main-background-color);
}

.nav-parent {
  background-color: var(--nav-parent-bg-color);
}

.nav-bar {
}

.nav-item a {
  color: var(--nav-text-color);
  background-color: var(--nav-a-bg-color);
  border-color: var(--nav-border-color);
}

#controller {
  border-color: var(--con-border-color);
  background-color: var(--controller-bg-color);
}

/* LAYOUT */

:root,
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: grid;
  position: fixed;
  grid-template-rows: 5% 5% 85% 5%;
  grid-template-columns: 70vw 30vw;
  grid-template-areas:
    "header sidebar-top"
    "title sidebar"
    "main-info sidebar"
    "bottom sidebar-bottom";
}

.nav-parent {
  display: flex;
  width: 100%;
  grid-column: 1 / 2;
}

.theme-label {
  margin: auto 0 auto 1%;
}

.nav-bar {
  display: flex;
  justify-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.nav-item {
  list-style-type: none;
  margin: auto 0;
}

.nav-item a {
  border-radius: 1rem;
  border-style: solid;
  border-width: 1px;
  padding: 5px 10px;
  text-decoration: none;
  color: var(--a-text-color);
}

h1 {
  grid-area: title;
  margin: auto;
}

#map {
  cursor: crosshair;
}

.terrain-area {
  grid-area: main-info;
}

#controller {
  grid-area: span 4 / sidebar-top;
  margin: 0;
  padding: 5px;
  border-style: solid;
  border-width: 1px;
  height: 100%;
  right: 0;
  top: 0;
  overflow: hidden;
}

label[for="prefabs_filter"],
#prefabs_filter,
label[for="blocks_filter"],
#blocks_filter {
  text-decoration: line-through;
}

label[for="prefabs_filter"]:hover,
#prefabs_filter:hover,
label[for="blocks_filter"]:hover,
#blocks_filter:hover,
body[data-active-filter="prefab"] label[for="prefabs_filter"],
body[data-active-filter="prefab"] #prefabs_filter,
body[data-active-filter="block"] label[for="blocks_filter"],
body[data-active-filter="block"] #blocks_filter {
  text-decoration: unset;
}

#overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  color: white;
  font-size: 55px;
}

.dragovered #overlay {
  display: flex;
}

#overlay > div {
  margin: auto;
}

[data-copy-for]:focus::after {
  content: attr(data-message);
}

.small-info {
  grid-area: bottom;
}

#generation_info_output_wrapper {
  width: 100%;
}
#generation_info_output {
  width: 100%;
  resize: vertical;
}
