@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* VARIABLES */
html[data-theme="light"] {
  --main-background-color: rgb(209, 209, 209);
  --main-text-color: rgb(70, 50, 50);
  --main-link-color: rgb(70, 70, 100);
  /* NAV */
  --nav-parent-bg-color: rgb(169, 169, 169);
  --nav-a-bg-color: rgb(194, 194, 194);
  --nav-a-bg-color-hover: rgb(229, 229, 229);
  --nav-text-color: rgb(70, 50, 50);
  --nav-border-color: rgb(132, 132, 132);
  /* MAIN */
  --title-text-color: rgb(50, 50, 50);
  /* CONTROLLER */
  --controller-bg-color: rgba(184, 184, 184, 0.9);
  --con-border-color: rgba(123, 123, 123, 0.9);
  --con-text-color: rgb(50, 50, 50);
  --con-box-shadow-color: rgba(50, 50, 50, 0.5);
  --con-btm-border-color: rgba(101, 101, 101, 0.556);
  /* BOTTOM */
  --bottom-bg-color: rgba(169, 169, 169, 0.85);
  --bar-border-color: rgba(255, 255, 255, 0.75);
  --coord-cat-text-color: rgba(255, 0, 0, 1);
  --cat-text-shadow-color: rgba(0, 0, 0, 1);
}

html[data-theme="dark"] {
  --main-background-color: rgb(80, 80, 80);
  --main-text-color: rgb(200, 200, 200);
  --main-link-color: rgb(100, 100, 200);
  --title-text-color: rgb(255, 170, 170);
  /* NAV */
  --nav-parent-bg-color: rgb(56, 56, 56);
  --nav-a-bg-color: rgb(115, 115, 115);
  --nav-a-bg-color-hover: transparent;
  --nav-text-color: rgb(230, 230, 230);
  --nav-border-color: rgb(132, 132, 132);
  /* MAIN */
  --title-text-color: rgb(180, 180, 180);
  /* CONTROLLER */
  --controller-bg-color: rgba(47, 47, 47, 0.8);
  --con-border-color: rgba(123, 123, 123, 0.9);
  --con-text-color: rgb(220, 220, 220);
  --con-box-shadow-color: rgba(245, 245, 245, 0.25);
  --con-btm-border-color: rgba(101, 101, 101, 0.556);
  /* BOTTOM */
  --bottom-bg-color: rgba(56, 56, 56, 0.85);
  --bar-border-color: rgba(150, 150, 150, 0.75);
  --coord-cat-text-color: rgba(255, 0, 0, 1);
  --cat-text-shadow-color: rgba(0, 0, 0, 0.75);
}

/* COLORS */
body {
  background-color: var(--main-background-color);
}

.nav-parent {
  background-color: var(--nav-parent-bg-color);
}

.slider:before {
  background-color: #fff;
}

.slider {
  background-color: #808080;
}

#theme-toggle:checked + .slider {
  background-color: #555555;
}

.nav-bar {
}

.nav-item a {
  color: var(--nav-text-color);
  background-color: var(--nav-a-bg-color);
  border-color: var(--nav-border-color);

  /* transition: all 0.25s; */
}
.nav-item a:hover {
  color: var(--nav-text-color);
  background-color: var(--nav-a-bg-color-hover);
  border-color: var(--nav-border-color);

  box-shadow: 0 5px 5px rgba(50, 50, 50, 0.5);
}

h1 {
  color: var(--title-text-color);
}
#loading_indicator {
  color: var(--title-text-color);
}

.controller-wrapped {
  background-color: var(--nav-parent-bg-color);
  border-left-color: var(--bar-border-color);
}
.controller-wrapped:hover {
  border-left-color: rgb(89, 89, 89);
  background-color: var(--controller-bg-color);
}
.controller-wrapped:hover .input-map-img {
  box-shadow: inset 0 5px 5px rgba(90, 90, 90, 0.7);
}

td,
th {
  border-bottom-color: var(--con-btm-border-color);
  color: var(--con-text-color);
}

.bottom-bar-container {
  background-color: var(--bottom-bg-color);
}
.bottom-bar-container .coord-cat {
  color: var(--coord-cat-text-color);
}
.cursor-coords-parent {
  border-left-color: var(--bar-border-color);
}
.cursor-coords-parent > p {
  color: var(--con-text-color);
}
.flag-coords-parent p {
  color: var(--con-text-color);
}

/* LAYOUT ------------------------------------------------------------------------ */

:root,
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  font-family: "Poppins", sans-serif;

  transition: all 0.25s;
}

body {
  display: grid;
  position: fixed;
  grid-template-rows: 5% 5% 85% 5%;
  grid-template-columns: 35vw 35vw 30vw;
  grid-template-areas:
    "header header-mid sidebar-top"
    "title loading sidebar"
    "main-info main-info-mid sidebar"
    "bar-left bar-mid sidebar-bottom";
}

.nav-parent {
  display: flex;
  width: 100%;
  grid-column: 1 / 3;
}

.theme-label {
  margin: auto 0 auto 1%;
}

.theme-label {
  display: inline-block;
}

.slider:before {
  content: "";
  height: 26px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

.slider {
  /* background-color: #ccc; */
  cursor: pointer;
  width: 50px;
  height: 26px;
  transition: 0.4s;
}

.theme-label input {
  display: none;
}

#theme-toggle:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.nav-bar {
  display: flex;
  justify-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.nav-item {
  list-style-type: none;
  margin: auto 0;
}

.nav-item a {
  border-radius: 1rem;
  border-style: solid;
  border-width: 1px;
  padding: 5px 10px;
  text-decoration: none;
}

h1 {
  grid-area: title;
  margin: auto;
}
#loading_indicator {
  grid-area: loading;
  margin: auto;
}

#map {
  cursor: crosshair;
}

.terrain-area {
  margin: 0;
  grid-area: main-info / span 1;
}

.hover-text {
  text-align: center;
}

#controller {
  grid-area: span 3 / sidebar-top;
  margin: 0;
}

.controller-wrapped {
  height: 5%;
  border-left-style: solid;
  border-left-width: 1px;
  overflow: hidden;
  /* transition: all 0.25s; */
}
.controller-wrapped:hover {
  height: 100%;
  overflow-y: scroll;
  box-shadow: -7px 0 7px var(--con-box-shadow-color);
}

.controller-lowered {
  border-style: solid;
  border-width: 1px;
  height: 100%;
  overflow: auto;
}

.input-map-img {
  display: flex;
  justify-content: space-around;
  padding-top: 3%;
}

table {
  margin: 0;
}

label[for="prefabs_filter"],
#prefabs_filter,
label[for="blocks_filter"],
#blocks_filter {
  text-decoration: line-through;
}

label[for="prefabs_filter"]:hover,
#prefabs_filter:hover,
label[for="blocks_filter"]:hover,
#blocks_filter:hover,
body[data-active-filter="prefab"] label[for="prefabs_filter"],
body[data-active-filter="prefab"] #prefabs_filter,
body[data-active-filter="block"] label[for="blocks_filter"],
body[data-active-filter="block"] #blocks_filter {
  text-decoration: unset;
}

#overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  color: white;
  font-size: 55px;
}

th,
td {
  border-bottom-style: groove;
  border-bottom-width: 1px;
  padding: 1% 0;
  margin: 0;
}

.prefabs-td,
.prefabs-th {
  border: none;
}

#prefabs_num {
  text-align: center;
}

#prefabs_filter {
  padding: 0.5em 0.5em;
  border-radius: 1em;
  border: none;
}

.dragovered #overlay {
  display: flex;
}

#overlay > div {
  margin: auto;
}

[data-copy-for]:focus::after {
  content: attr(data-message);
}

.small-info {
  grid-area: bar-mid;
}

#generation_info_output_wrapper {
  width: 100%;
}
#generation_info_output {
  width: 100%;
  resize: vertical;
}

.bottom-bar-container {
  display: grid;
  grid-template-columns: 70vw 15vw 15vw;
  grid-area: bar-left / span 3;
  width: 100%;
  height: 100%;
  margin: auto 0;
}
.bottom-bar-container .coord-cat {
  font-weight: bold;
  text-shadow: 0 1px var(--cat-text-shadow-color);
}

.cursor-coords-parent {
  display: flex;
  grid-area: 1 / 2;
  border-left-width: 1px;
  border-left-style: solid;
}
.cursor-coords-parent > p {
  margin: auto 1%;
}
.flag-coords-parent {
  display: flex;
  grid-area: 1 / 3;
}
.flag-coords-parent > p {
  margin: auto 1%;
}
.flag-coords-parent > div p button {
  margin: auto 1%;
}
.flag-coords-parent > button {
  height: 25px;
  margin: auto 0;
}
