name: Continuous Integration
on: push
permissions:
  contents: read
jobs:
  deno-run-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
      - run: echo '{}' > local.json
      - run: deno task ci
